.home-section {
    width: 100%;
    height: 100vh;
}

.center-horizontal {
    display: flex;
    justify-content: center;
}

.centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.centered-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid-text-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto, auto);
    grid-auto-flow: row;
    grid-gap: 3em;
    border: 1px solid black;
}

.show-border {
    border: 1px solid lightcoral;
}

.code-font {
    font-family: Monaco;
}

#home-content-container {
    min-width: 100vw;
    display: grid;
    grid-template-areas:
        "navbar"
        "splash"
        "aboutme"
        "blog"
        "contact";
}

#nav-bar {
    grid-area: navbar;
}

#splash-page {
    background-image: url('images/korea-skyscrapers.JPG');
    background-size: cover;
    background-repeat: no-repeat;
    grid-area: splash;
}

#aboutme {
    background-color: springgreen;
    grid-area: aboutme;
}

#blog {
    background-color: salmon;
    grid-area: blog;
}

#contact {
    background-color: chocolate;
    grid-area: contact;
}

img {
    width: 100%;
    height: auto;
}